################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GCD/.vs/GCD
/GCD/bin/Debug/netcoreapp3.0
/GCD/obj
